.tovi_cell{
	color: #666;
	background: #ddd url(bg.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#player a{
	color: #36f;
}
